.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-flow: row wrap;
  width: 270px;
  height: 270px;
  background-color: gray;
}

.undercell {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  border: solid 0.5px;
  border-color: black;
}

.covercell {
  width: 30px;
  height: 30px;
  background-color: green;
  border: solid 1px;
  border-color: black;
}
